node_modules
npm-debug.log
dist
build
coverage
.nyc_output

.git
.gitignore
.github

.env
.env.*
!.env.example

.DS_Store
.idea
.vscode
*.log

README.md
.prettierrc
eslint.config.mjs

uploads
files

Dockerfile
docker-compose*.yml
.dockerignore
